<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">CSGO物品价格统计</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">首页</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('profit')}}">收益</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('price')}}">价格</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('log')}}">日志</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://78.128.127.54:8080/">Qbit</a>
            </li>
        </ul>
      <div class="nav-item ms-auto">Current Time is:&nbsp;<span id="time"> </span></div>
    </div>
    </div>
</nav>
<script>
    function showTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var time = year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
        document.getElementById("time").innerHTML = time;
    }
    setInterval(showTime, 1000);
</script>